
@font-family: 'Roboto', sans-serif;
src:
url
/* Variables*/
: root {
    --basic-black: #000000
    --basic-lightblack: #323232
    --basic-gray: #5a5a5a
    --basic-darkgray: #999999
    --basic-white: #ffffff
    --basic-mediumaquamarine: #849d8f
    --basic-lightaquamarine: #d7f2e3
    --basic-darksteelblue: #8996a6
    --basic-lidhtsteelblue: #dae4ef
    --basic-rosybrown: #9d8b84
    --basic-lightrosybrown: #efe0da
    --basic-red: #e84d37
    --basic-oragered: #f26843
    --basic-lightorangered: #d07058
    --basic-dodgerblue: #1e90ff
    --basic-rose: #fbded7
    --basic-ivory: #f8f7f4
}
/* Global */
body {
    min-width: 1166px;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;
    text-transform: none;
    background-color: #849d8f;
}
a {
    text-decoration: none;
    color: #e5e5e5;
}
img {
    max-width: 100%;
    height: auto;
}
.button {
    font: inherit;
    color: #ffffff;
    font-size: 18;
    text-align: center;
    background-color: #f26843;
    border: none;
}
.button:hover,
.button:focus,
.button:active{
    background-color: ;/* написать*/
}
/* Main navigation*/
form{
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    background-color: #E5E5E5;
}
.main-navigation{
    font-size: 16px;
    line-height:18px ;
    font-weight: 700;
    background-color: #849d8f;
}
.site-navigation {
    list-style: none;
    text-decoration: underline;
    text-decoration-color: #E5E5E5;
    text-decoration-line: 1px;
}
.site-navigation .catalog{
    list-style: none;
    text-decoration: none;
}
}
/* User navigation */
.site-navigation a,
.user-navigation a{
    color: #E5E5E5;
}
.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus{
    background-color: #ffffff;
}
.site-navigation .catalog a:hover,
.site-navigation .catalog a:focus {
    background-color: #fbded7;
}

form a:hover,
form a:focus{
    background-color: #ffffff;
}
/* Information*/
.information {
    font-size: 14px;
}
.information span {
    font-size: 22px;
}
/* Slider*/
/* Free */
.index-columns .free {
    font-size: 35px;
    font-weight: 700;
    text-align: left;
}
.index-columns .chocolate-free,
.index-columns .raspberry-free { 
    font-size: 18px;
    font-weight: 700;
    text-align: left;
}
.raspberry{
    background-image: url(img/raspberry_background.jpg);
    background-repeat: no-repeat, repeat;
    background-color: #849d8f;
}
.chocolate{
    background-image: url(img/chocolate_background.jpg);
    background-repeat: no-repeat, repeat;
    background-color: #849d8f;
}
/* Hit*/
.hit {
    font-weight: 500;
    text-align: center;
}
.price {
    font-size: 45px;
    font-weight: 700;
    text-align: left;
}
.weight {
    font-size: 30;
    font-weight: 700;
    text-align: left;
}
/* Advantage */
.advantage {
    color: #323232;
    text-align: left;
    background-color: #849d8f;
    background-image: url(img/wafer_pattern.png);
    background-repeat: no-repeat, repeat;
}
.advantage li {  
list-style: none;
} 
.advantage-main {
    font-size: 24px;
    font-weight: 500;
}
/*New*/
.new {
    color: #323232;
    text-align: left;
    background-image: url(img/strawberry-background.png);
}
.new a {
    color: #323232;
    font-size: 24px;
    font-weight: 700;
    text-decoration: underline;
}
/* Subscription*/
.subscription {
    color: #a5a5a5;
    text-align: left;
    background-color: #f8f7f4;
    background-image: url(img/mail_background); 
}
/*  Contact-Information*/
.contact-information {
    font-size: 14px;
    color: #323232;
    text-align: left;
}
.contact-information span{
    font-size: 18;
    font-weight: 700;
    color: #323232;
}
/* Footer*/
footer li{
    list-style: none;
}

.documents {
    font-size: 13px;
    text-align: left;
}
.documents .for-provider {
    font-weight: 700;
}
#htmlacademy {
    font-size: 12px;
}
#htmlacademy span {
    text-decoration: underline;
}
/* Catalog */
.inner{
    font-size: 14px;
}
.ice-cream {
    font-size: 35px;
    font-weight: 700;
}
.sorting {
    font-size: 14px;
}
/* Filter*/
/*Product*/
 .product li {
    list-style: none;
 }
 .product p {
    font-weight: 500;
    text-align: center;
 }
